/* LOGIN PAGE */

.login{
    background-image: url('https://picsum.photos/1600/900');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 75%);
    width: 25%;
    height: fit-content;
    padding: 40px;
    background-color: white;
    font-family:'Courier New', Courier, monospace;
}

.blog{
    border: 1px solid teal;
    border-radius: 50%;
    background-color: rgb(5, 185, 185);
    padding: 10px;
    width: 100px;
}
.login-input{
    width: 70%;
    margin-bottom:10px;
    padding: 10px;
    border:1px solid lightgrey;
}

.login-input:hover{
    border: 1px solid teal;
}

.login-btn{
    background-color: teal;
    color: white;
    margin-top: 5px;
    padding: 10px;
    width: 76%;
    border:none;
    cursor: pointer;
}
.login-btn:hover,
.blog-btn:hover{
    background-color: lightgrey;
    color: teal;
    box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 40%);
}

.new-blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.new-blog h2{
    color: teal;
}

.blog-form{
    display: flex;
    flex-direction: column;
    width: 25%;
    /* border: 1px solid red; */

}

.blog-input{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
}
.blog-input:hover{
    border: 1px solid teal;
}
.blog-btn{
    
        background-color: teal;
        color: white;
        margin-top: 5px;
        padding: 7px;  
        border:none;
        cursor: pointer; 
}

.profile{
    margin:auto;
    padding: 15px;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 25%);
    width: 25%;
    height: fit-content;
}

/* DASHBOARD */

.dashboard{
    /* border: 1px solid green; */
    /* display: block; */
}
.logo{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: teal;
    font-size: large;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    /* border: 1px solid black; */
    height: 200px;
    width: 200px; 
    margin: 35px;
    box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 25%);
    border-radius: 5px;
    cursor: pointer; 
}
.card-name{
    /* border: 1px solid red; */
    height: 30px;
    width: 185px;
    /* display: flex;
    justify-content: flex-start; */
    align-items:center;
    padding-left: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    color: teal;
    background-color: rgba(182, 182, 182, 0.739);
   
}
.card-img{
    /* border: 1px solid blue; */
    width: 100%;
}
.card-text{
    /* border: 1px solid green; */
    height: fit-content;
    width: 185px;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 5px;
    background-color: rgba(182, 182, 182, 0.739);
}

span{
    margin: 10px;
}
.likes{
    margin-top: 10px;
}
.clicked{
    /* background-color: red; */
}

/* DETAILS PAGE */

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    margin-top: 100px;
    box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 25%);
    
}
.detail-card-img{
    width: 100%;
    height: 200px;
}

.detail-card-name{
    text-align: center;
    font-size: xx-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: teal;
    background-color: lightgray;
}
.detail-card-text{
    align-items: center;
    padding-left: 15px;
    font-size: larger;
    background-color: lightgray;
    height: 100px;
}

.detail-buttons{
    margin-top: 20px;
}
.delete-btn,
.update-btn{
        background-color: red;
        color: white;
        margin-top: 5px;
        margin-left: 10px;
        padding: 7px;  
        border:none;
        cursor: pointer; 

}
.update-btn{
    background-color: teal;
    margin-right: 10px;
}
